<nz-layout class="main-page">
  <nz-header>
    <div class="logo">
      <a [routerLink]="['/']">
        <img alt="logo" src="./assets/favicon.ico" />
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>Routines</li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'exercises']">Exercises</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Shoguneko Dev's Gymnastika</nz-footer>
</nz-layout>
